#s-f2637050-01d5-4c33-9aee-28abea8408be > #backgroundBox {
  background-color: #F6F3EE;
  position: absolute;
}
#s-f2637050-01d5-4c33-9aee-28abea8408be > #alignmentBox {
  position: relative;
}
#s-f2637050-01d5-4c33-9aee-28abea8408be #s-Text_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Ovo_17.0.0_google',Arial;
}
#s-f2637050-01d5-4c33-9aee-28abea8408be #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f2637050-01d5-4c33-9aee-28abea8408be #s-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f2637050-01d5-4c33-9aee-28abea8408be #s-Text_1 span {
  color: #3D3228;
  text-align: left;
  text-decoration: none;
  font-family: 'Ovo_17.0.0_google',Arial;
  font-size: 42.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-f2637050-01d5-4c33-9aee-28abea8408be #s-Text_1 span#rtr-s-Text_1_0 {
  color: #3D3228;
  text-decoration: none;
  font-family: 'Ovo_17.0.0_google',Arial;
  font-size: 42.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-f2637050-01d5-4c33-9aee-28abea8408be #s-Rectangle_1 {
  position: absolute;
  width: 1621.9999999999993px;
  min-height: 688.9999999999998px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(28.2842712474619px 28.284271247461902px 16px #B5AC9C);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Figtree_6.0.0_google',Arial;
}
#s-f2637050-01d5-4c33-9aee-28abea8408be #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-f2637050-01d5-4c33-9aee-28abea8408be #s-Rectangle_1 .paddingLayer {
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
}
#s-f2637050-01d5-4c33-9aee-28abea8408be #s-Rectangle_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f2637050-01d5-4c33-9aee-28abea8408be #s-Rectangle_1 span {
  color: #3D3228;
  text-align: left;
  text-decoration: none;
  font-family: 'Figtree_6.0.0_google',Arial;
  font-size: 21.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-f2637050-01d5-4c33-9aee-28abea8408be #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #3D3228;
  text-decoration: none;
  font-family: 'Figtree_6.0.0_google',Arial;
  font-size: 21.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-f2637050-01d5-4c33-9aee-28abea8408be #s-Rectangle_1 span#rtr-s-Rectangle_1_1 {
  color: #3D3228;
  text-decoration: none;
  font-family: 'Figtree_6.0.0_google',Arial;
  font-size: 21.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-f2637050-01d5-4c33-9aee-28abea8408be #s-Rectangle_1 span#rtr-s-Rectangle_1_2 {
  color: #3D3228;
  text-decoration: none;
  font-family: 'Figtree_6.0.0_google',Arial;
  font-size: 27.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-f2637050-01d5-4c33-9aee-28abea8408be #s-Rectangle_1 span#rtr-s-Rectangle_1_3 {
  color: #3D3228;
  text-decoration: none;
  font-family: 'Figtree_6.0.0_google',Arial;
  font-size: 21.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-f2637050-01d5-4c33-9aee-28abea8408be #s-Button_1 {
  position: absolute;
  width: 184.99999999999977px;
  min-height: 74.00000000000023px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Figtree_6.0.0_google',Arial;
}
#s-f2637050-01d5-4c33-9aee-28abea8408be #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 37.000000000000114px;
  border-top-right-radius: 37.000000000000114px;
  border-bottom-right-radius: 37.000000000000114px;
  border-bottom-left-radius: 37.000000000000114px;
}
#s-f2637050-01d5-4c33-9aee-28abea8408be #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #3D3228;
}
#s-f2637050-01d5-4c33-9aee-28abea8408be #s-Button_1 > .borderLayer {
  border-top-left-radius: 37.000000000000114px;
  border-top-right-radius: 37.000000000000114px;
  border-bottom-right-radius: 37.000000000000114px;
  border-bottom-left-radius: 37.000000000000114px;
}
#s-f2637050-01d5-4c33-9aee-28abea8408be #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 37.000000000000114px;
  border-top-right-radius: 37.000000000000114px;
  border-bottom-right-radius: 37.000000000000114px;
  border-bottom-left-radius: 37.000000000000114px;
}
#s-f2637050-01d5-4c33-9aee-28abea8408be #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f2637050-01d5-4c33-9aee-28abea8408be #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f2637050-01d5-4c33-9aee-28abea8408be #s-Button_1 span {
  color: #D9D5CF;
  text-align: center;
  text-decoration: none;
  font-family: 'Figtree_6.0.0_google',Arial;
  font-size: 24.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-f2637050-01d5-4c33-9aee-28abea8408be #s-Button_1 span#rtr-s-Button_1_0 {
  color: #D9D5CF;
  text-decoration: none;
  font-family: 'Figtree_6.0.0_google',Arial;
  font-size: 24.0pt;
  font-weight: 400;
  text-transform: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-f2637050-01d5-4c33-9aee-28abea8408be > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}