@font-face {
  font-family: "Tenor Sans_19.0.0_google";
  src: url("../../../fonts/Tenor Sans-Regular_19.0.0_google.ttf");
  font-weight: 400; 
  font-display: swap;
}
@font-face {
  font-family: "Figtree_6.0.0_google";
  src: url("../../../fonts/Figtree-Regular_6.0.0_google.ttf");
  font-weight: 400; 
  font-display: swap;
}
@font-face {
  font-family: "Figtree_6.0.0_google";
  src: url("../../../fonts/Figtree-Bold_6.0.0_google.ttf");
  font-weight: 700; 
  font-display: swap;
}
@font-face {
  font-family: "Figtree_6.0.0_google";
  src: url("../../../fonts/Figtree-Italic_6.0.0_google.ttf");
  font-weight: 400; 
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Source Code Pro_23.0.0_google";
  src: url("../../../fonts/Source Code Pro-Regular_23.0.0_google.ttf");
  font-weight: 400; 
  font-display: swap;
}